body{
    background-color: #e4fbff;
}
hr{
    border-style: none; 
    border-top: dotted;                            
    border-color: grey;
    border-width: 7px;
    width: 5%;
}
img{
    height: 220px;
    
}
h1{
    color:#687980;
    
}

h2{
    color:#f9b208;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}